<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/flights/">All Movies</a> 
        |
        <a href="/flights/new">New Movie</a> 
    </nav>