<%- include('../partials/header') %>
<h2>Add Ticketing Information</h2>

<form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
    <label>Seat:
        <input type="text" name="seat" required pattern="[A-F][1-9]\d?"></input>
        </label>Price:
        <input type="number" name="price"></input>  
    </label> <br>
    <input type="submit" value="Update Ticket">
    </form>



<%- include('../partials/footer') %>