<%- include('../partials/header') %>
<h2>Add Ticketing Information</h2>
<form id="udpate-ticket-info" action="/flights/<%= flightId %>/tickets"  method="POST" >
    <label>Seat:
        <input type="text" name="seat" required pattern="[A-F][1-9]\d?" value="A9"></input>
    </label>
    <label>Price:
        <input type="number" name="price" value="100"></input>
    </label>
        <input type="text" name="flight"><%= flightId%></input>
    <input type="submit" value="Update Ticket">
</form>


<%- include('../partials/footer') %>