body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

a {
  color: #00B7FF;
}

a:hover {
  background-color: black;
  color: white;
}

nav {
  display: flex;
  background-color: darkgray;
  height: 5vh;
  align-items: center;
  border: solid .25vh darkgray;
  font-weight: 800;
}

label {
  display: flex;
  margin-top: .25vh;
}

td {
  border: solid lightgray .1vh;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}



#add-arrival-form input[type="submit"] {
  width: 8rem;
  margin-bottom: 2rem;
}

#index-table {
  background-color: white;
  border: solid darkgray .25vh;
}
