body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  background-color: lightgray;
  height: 5vh;
  align-items: center;
  border: solid .25vh darkgray;
}

label {
  display: flex;
  margin-top: .25vh;
}